@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
    background: #1c1c1c;
}


.middlelogo {
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.nav-link {
    color: #fafaff;
    text-decoration: none;
    font-size: 16px;
    background-color: transparent;
    
}

.nav-link:hover {
    background-color: #ed9831;
    border-radius: 90%;
    color: #1c1c1c;
    text-decoration: none;
    transition: background-color 0.5s ease-in-out;

}
.nav-pills {
    --bs-nav-pills-border-radius: 90%;
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-pills-link-active-bg: #ed9831;
    --bs-nav-pills-link-active-color: #1c1c1c;
}
br{
    background-color: #ed9831;
}